/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background: #0f172a;
    color: #ffffff;
    line-height: 1.6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #020617;
}

nav h1 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}

.hero span {
    color: #38bdf8;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #38bdf8;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}

/* Section */
section {
    padding: 60px 50px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 50px;
}